[Unit]
Description=BUPT Network Login Script
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/bupt_net_login.sh

[Install]
WantedBy=multi-user.target

